# Python
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
.venv
env/
venv/

# Docker Models Cache
.cache/
.cache/*
huggingface/
tts/

# Workspace Media Files
workspace/
workspace/*
*.mp4
*.wav
*.mkv
*.mov

# IDE
.vscode/
.idea/
